.header_logo{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.product-info {
  font-family: Helvetica, sans-serif;
  margin-right: 5%;
  margin-left: 15%;
  position: absolute;
  background: #f1f1f1;
  border: 1.5px solid #9f9f9f;
  width: 70%;
  color: #004a84;
}

.product-info__image > img {
  float: left;
  position: relative;
  width: 30%;
  left: 5%;
}

.product-info__image-edit > img {
  width: 200px;
}
.product-info__total {
  position: relative;
  float: right;
  margin-right: 20%;
  font-size: 24px;
}
.product-info__category {
  color: #004a84;
  font-size: 24px;
  position: relative;
  float: top;
  margin-left: 5%;
}

.product-info__name {
 font-size: 33px;
}

.product-info__price {
 font-size: 28px;
}
.product-info__sku {
  font-size: 20px;
  font-style: italic;
}
.product-info__add-to-cart-button > button {
  display: flex;
  flex-direction: column;
  border: 1px solid #ffb600;
  background: #ffb600;
  width: 110%;
  height: 100%;
  border-radius: 30px;
  font-size: 30px;
  color: #004a84;
}

.product-info__add-to-cart-button > button:hover {
  background: white;
}
.product-info__description {
  font-size: 24px;
  position: relative;
  left: 5%;
  margin-top: 35%;
}

.header_main {
  position: relative;
  margin-bottom: 15px;
}

.header_main__menu {
  color: #9f9f9f;
  font-family: Helvetica, sans-serif;
  border-radius: 30px;
  background: rgba(159, 159, 159, 0.22);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.header_main__menu >p {
  margin: 10px;
}

.header_main__menu > li {
  margin-top: 5px;
  list-style: none;
}

.header_main__menu > li > a {
  text-decoration: none;
  color: #004a84;
  font-size: 24px;
  margin-right: 10px;
}

.header_main__menu > li > a:hover {
  color: #ffb600;
}

.product-list{
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  background: rgba(159, 159, 159, 0.22);
}

.product-list > a {
  border-radius: 10px;
  text-decoration: none;
}

.product-list > a :hover {
   background: white;
   border-radius: 10px;
 }

.product-list__info > li > img {
  border-radius: 10px;
  border: 1px solid #9f9f9f;
  width: 200px;
}

.product-list__info > li > a {
  text-decoration: none;
}
.product-list__info > li{
  width: 200px;
  height: 100%;
  margin: 4px;
}

.product-info__edit >a {
  margin: 10px;
  float: right;
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  color: #004a84;
  text-decoration: none;
  cursor: pointer;
}

.product-info__edit >a:hover {
  color: #ffb600;
}

.product-list__info {
  list-style-type: none;
  display: flex;
  width: 260px;
  justify-content: center;
  margin: 20px;
  font-size: 20px;
  font-family: Helvetica, sans-serif;
  color: #004a84;
}

.product-list__info button {
  width: 150px;
  height: 40px;
  border: 1px solid #ffb600;
  background: #ffb600;
  border-radius: 10px;
  font-size: 20px;
  color: #004a84;
  outline:none;
  margin-top: 15px;
  margin-bottom: 25px;
  cursor:pointer;
}

.product-info__add-to-cart-button {
  padding: 10px;
}

.product-form {
  font-family: Helvetica, sans-serif;
  color: #004a84;
  background: #f1f1f1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category-form{
  font-family: Helvetica, sans-serif;
  color: #004a84;
  background: #f1f1f1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-form {
  color: #004a84;
  font-size: 21px;
}
.product-form > h1 {
  color: #9f9f9f;
}
.product-form__input {
  padding-left: 10px;
  font-family: Helvetica, sans-serif;
  color: #004a84;
  border: 1px solid #ffb600;
  border-radius: 5px;
  width: 200px;
  height: 20px;
  background: #f1f1f1;
  outline:none;
  margin-bottom: 15px;
}
.category__input{
  padding-left: 10px;
  font-family: Helvetica, sans-serif;
  color: #004a84;
  border: 1px solid #ffb600;
  border-radius: 5px;
  width: 200px;
  height: 20px;
  background: #f1f1f1;
  outline:none;
  margin-bottom: 15px;
}

.product-form__input:focus {
  font-family: Helvetica, sans-serif;
  color: #004a84;
  outline:none;
}

.product-form__submit {
  padding: 10px;
  border: 1px solid #ffb600;
  background: #ffb600;
  border-radius: 30px;
  font-size: 30px;
  color: #004a84;
  outline:none;
  margin-top: 15px;
  margin-bottom: 25px;
  cursor:pointer;
}

.category-form__submit{
  padding: 10px;
  border: 1px solid #ffb600;
  background: #ffb600;
  border-radius: 30px;
  font-size: 30px;
  color: #004a84;
  outline:none;
  margin-top: 15px;
  margin-bottom: 25px;
  cursor:pointer;
}

.category-form__submit:hover{
  background: white;
  outline:none;
}

.product-form__submit:hover{
  background: white;
  outline:none;
}

.product-form_errors {
  padding-top: 5px;
  padding-left: 50px;
  padding-bottom: 5px;
  background: brown;
  color: #f1f1f1;
}

.product-form_message-save {
  border-radius: 30px;
  padding-top: 5px;
  padding-left: 50px;
  padding-bottom: 5px;
  background: #00a253;
  color: #f1f1f1;
}

.delete-result{
  padding-top: 5px;
  padding-left: 50px;
  padding-bottom: 5px;
  background: brown;
  color: #f1f1f1;
}

.sort-products{
  font-family: Helvetica, sans-serif;
  border-radius: 30px;
  color: #9f9f9f;
  background: #f1f1f1;
  height: 20px;
  padding: 5px;
  margin: 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
}

.sort-products > a {
  font-family: Helvetica, sans-serif;
  margin-left: 5px;
  margin-right: 5px;
  text-decoration: none;
  color: #004a84;
  font-size: 18px;
}

.sort-products > a :checked{
  background: firebrick;
}

.sort-products > a:hover {
  color: #ffb600;
}

.sort-products__vl{
  border-left: 1px solid #9f9f9f;
  height: 100%;
}

.search-form {
  outline:none;
  font-family: Helvetica, sans-serif;
}

.search-form input {
  color: #004a84;
  outline:none;
  border: 1px solid #ffb600;
  font-size: 24px;
}

.search-form__button{
  cursor: pointer;
  border-radius: 30px;
  outline:none;
  background: #ffb600;
  color: #004a84;
  border: 1px solid #ffb600;
}

.search-form__button:hover{
  cursor: pointer;
  background: white;
}

.sort-products .selected {
  color: #ffb600;
}

.pages_view {
    font-family: Helvetica, sans-serif;
    font-size: 24px;
    background: #f1f1f1;
    display: flex;
    justify-content: center;
}

.pages_view > a{
  color: #004a84;
  text-decoration: none;
  margin-right: 5px;
}

.pages_view > a:hover {
  color: #ffb600;
}

.pages_view .selected {
  color: #ffb600;
}