.product-info {
  font-family: Helvetica, sans-serif;
  margin-right: 5%;
  margin-left: 15%;
  position: absolute;
  background: #f1f1f1;
  border: 1.5px solid #9f9f9f;
  width: 70%;
  color: #004a84;
}

.product-info__image > img {
  float: left;
  position: relative;
  width: 30%;
  left: 5%;
}

.product-info__image-edit > img {
  width: 200px;
}
.product-info__total {
  position: relative;
  float: right;
  margin-right: 20%;
  font-size: 24px;
}
.product-info__category {
  color: #004a84;
  font-size: 24px;
  position: relative;
  float: top;
  margin-left: 5%;
}

.product-info__name {
 font-size: 33px;
}

.product-info__price {
 font-size: 28px;
}
.product-info__sku {
  font-size: 20px;
  font-style: italic;
}
.product-info__add-to-cart-button > button {
  border: 1px solid #ffb600;
  background: #ffb600;
  width: 110%;
  height: 100%;
  border-radius: 30px;
  font-size: 30px;
  color: #004a84;
}

.product-info__add-to-cart-button > button:hover {
  background: white;
}
.product-info__description {
  font-size: 24px;
  position: relative;
  left: 5%;
  margin-top: 35%;
}

.header_main {
  position: relative;
  margin-bottom: 15px;
}

.header_main__menu {
  border-radius: 30px;
  background: rgba(159, 159, 159, 0.22);
  display: flex;
  flex-direction: row;
}

.header_main__menu > li {
  list-style: none;
}

.header_main__menu > li > a {
  text-decoration: none;
  color: #004a84;
  font-size: 24px;
  padding: 20px;
  margin: 10px;
}

.header_main__menu > li > a:hover {
  color: #ffb600;
}

.product-list{
  background: rgba(159, 159, 159, 0.22);
  border-radius: 30px;
}

.product-list > a {
  border-radius: 30px;
  display: flex;

}

.product-list > a :hover {
   background: white;
   border-radius: 30px;
 }

.product-list__info > li > img {
  border-radius: 30px;
  border: 1px solid #9f9f9f;
  width: 200px;
  margin: 25px;
}

.product-list__info > li > .text {
  width: 200px;
  float: right;
  margin: 20px;
}

.product-info__edit >a {
  margin: 10px;
  float: right;
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  color: #004a84;
  text-decoration: none;
  cursor: pointer;
}

.product-info__edit >a:hover {
  color: #ffb600;
}

.product-list__info {
  list-style-type: none;
  display: inline;
  margin: 20px;
  font-size: 20px;
  font-family: Helvetica, sans-serif;
  color: #004a84;
}

.product-info__add-to-cart-button {
  padding: 10px;
}

.product-form {
  font-family: Helvetica, sans-serif;
  color: #004a84;
  background: #f1f1f1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-form {
  color: #004a84;
  font-size: 21px;
}
.product-form > h1 {
  color: #9f9f9f;
}
.product-form__input {
  padding-left: 10px;
  font-family: Helvetica, sans-serif;
  color: #004a84;
  border: 1px solid #ffb600;
  border-radius: 5px;
  width: 200px;
  height: 20px;
  background: #f1f1f1;
  outline:none;
  margin-bottom: 15px;
}

.product-form__input:focus {
  font-family: Helvetica, sans-serif;
  color: #004a84;
  outline:none;
}

.product-form__submit {
  padding: 10px;
  border: 1px solid #ffb600;
  background: #ffb600;
  border-radius: 30px;
  font-size: 30px;
  color: #004a84;
  outline:none;
  margin-top: 15px;
  margin-bottom: 25px;
  cursor:pointer;
}

.product-form__submit:hover{
  background: white;
  outline:none;
}

.product-form_errors {
  padding-top: 5px;
  padding-left: 50px;
  padding-bottom: 5px;
  background: brown;
  color: #f1f1f1;
}

.product-form_message-save {
  border-radius: 30px;
  padding-top: 5px;
  padding-left: 50px;
  padding-bottom: 5px;
  background: #00a253;
  color: #f1f1f1;
}

.delete-result{
  padding-top: 5px;
  padding-left: 50px;
  padding-bottom: 5px;
  background: brown;
  color: #f1f1f1;
}